[submodule "csm"]
	path = csm
	url = https://github.com/ORIGYN-SA/csm
[submodule "origyn_nft"]
	path = origyn_nft
	url = https://github.com/ORIGYN-SA/origyn_nft
[submodule "icx-proxy"]
	path = icx-proxy
	url = https://github.com/ORIGYN-SA/icx-proxy
[submodule "phone_book"]
	path = phone_book
	url = https://github.com/ORIGYN-SA/phone_book