# Various IDEs and Editors
.vscode/**/*
!.vscode/launch.json
.idea/
.vessel/

# Github Access Token
gittoken.key

# dApps
dapps-latest-build*
dapps-latest-build.zip

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# mint script output files
**/__*/

# frontend code
node_modules

# user secrets
**/*.pem
canister_ids.json

