# Various IDEs and Editors
.vscode/**/*
!.vscode/launch.json
.idea/

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# build files
**/__*/
.dfx
vessel.dhall
package-set.dhall
.vessel
mops.toml
.mops
node_modules
settings
candid

# user secrets
**/*.pem
# see: https://github.com/dfinity/sdk/blob/master/docs/cli-reference/dfx-nns.md#example-accessing-icp-on-the-command-line
!scripts/local-nns.pem