body {
  text-align: center;
  font-family: arial;
}

#featured {
  width: 50%;
  min-width: 200px;
  max-width: 600px;
}

#info-links {
  display: flex;
  margin: 0;
  justify-content: center;
}

#info-links * {
  margin: 10px;
}

#info-links span {
  font-weight: bold;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#list a {
  width: 250px;
  height: 250px;
  margin: 10px;
  list-style: none;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #fdfaf3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#list span {
  display: block;
  font-family: arial;
}

#list div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#list div img,
#list div object {
  width: 200px;
  height: 200px;
}

#primary-image {
  border: 2px solid #aaa;
  width: 100%;
  max-width: 800px;
}